<!-- Add any usings in the ViewImports file -->

@{
    ViewData["Title"] = "CTR 2.0 Home";
}

<style>
    .container {
        position: relative;
    }

        .container img {
            width: 100%;
        }

        .container label {
            color: #000;
            position: absolute;
            top: 0;
            left: 20px;
        }
</style>
<div style="display:inline-flex">

    <div class="container">
        <img src="~/images/HowmetSplash.png" alt="Howmet" border="0" style="background-size: 100% 100%" />
        <label style="font-size:64px">CTR 2.0</label>
    </div>
</div>
